extends ../base.pug

block content
    .profileUpdate-container
        h1.title 프로필 수정
        form(method="POST") 
            input(type="text" name="name" placeholder="이름" value=user.name required)
            input(type="text" name="nickname" placeholder="닉네임" value=user.nickname required)
            label(for="avatar")
                img(src=user.image_url)
            input(type="file" name="image_url" id="avatar" accept="image/*")
            input(type="text" name="pnp" placeholder="pnp 가입유무" value=user.pnp)
            input(type="text" name="team" placeholder="팀" value=user.team)
            input(type="text" name="student_id" placeholder="학번" value=user.student_id)
            input(type="text" name="department" placeholder="학과" value=user.department required)
            input(type="text" name="gender" placeholder="성별" value=user.gender)
            input(type="text" name="email" placeholder="이메일" value=user.email required)
            input(type="password" name="password" placeholder="비밀번호" value=user.password required)
            input(type="text" name="tech" placeholder="보유 기술" value=user.tech)
            input(type="text" name="github_url" placeholder="깃허브 주소" value=user.github_url)
            input(type="text" name="interest" placeholder="관심 분야" value=user.interest)
            input(type="text" name="like" placeholder="좋아요 수" value=user.like)
            input(type="text" name="visit" placeholder="방문 횟수" value=user.visit)
            input(type="text" name="choice" placeholder="찜" value=(user.choice.length == 0 ? "" : user.choice))
            input(type="submit" value="수정")