extends ../base.pug

block content
    .profileUpdate-body
        .errorMessage(data-profileupdateerrormsg=profileUpdateErrorMsg data-userid=user.id)
        .outer-profileUpdate-container
            .profileUpdate-container(data-interest = user.interest)
                .nav-bar
                    i.fas.fa-user
                    i.fas.fa-chalkboard-teacher
                    i.fas.fa-tasks
                form(method="POST" enctype="multipart/form-data") 
                    .page
                        .title 
                            span Personal 
                            span Info
                        .field.name
                            span 이름  
                            input(type="text" name="name" value=user.name required).verified
                        .field.nickname
                            span 닉네임
                            input(type="text" name="nickname" value=user.nickname maxlength=11 required)
                            button(type="button").verified 중복 확인
                        .field
                            span 프로필 이미지
                            label(for="avatar")
                                img(src=user.image_url)
                            input(type="file" name="image_url" id="avatar" accept="image/*")
                        .field
                            span 학과
                            if user.department != "empty"
                                input(type="text" name="department" value=user.department)
                            else 
                                input(type="text" name="department" placeholder="write your department")
                    .page.hide 
                        .title
                            span Introduction
                        .field.absence
                            span 재/휴학
                            .column-container
                                .first-column
                                    if user.absence == true
                                        .selection.true
                                            input(type="checkbox" id="absenceYes" name="absenceYes" checked)
                                            label(for="absenceYes") 휴학
                                        .selection.false
                                            input(type="checkbox" id="absenceNo" name="absenceNo")
                                            label(for="absenceNo") 재학
                                    else 
                                        .selection.true
                                            input(type="checkbox" id="absenceYes" name="absenceYes")
                                            label(for="absenceYes") 휴학
                                        .selection.false
                                            input(type="checkbox" id="absenceNo" name="absenceNo" checked)
                                            label(for="absenceNo") 재학
                        .field
                            span 자기 소개
                            textarea(name="introduction" maxlength=150 spellcheck="false")=user.introduction
                    .page.hide
                        .title
                            span Options
                        .field.email
                            span 학교 웹메일
                            input(type="text" name="email" value=user.email disabled)
                        .field.pnp
                            span pnp 가입유무
                            .column-container
                                .first-column
                                    if user.pnp == true
                                        .selection.true
                                            input(type="checkbox" id="pnpYes" name="pnpYes" checked)
                                            label(for="pnpYes") 예
                                        .selection.false
                                            input(type="checkbox" id="pnpNo" name="pnpNo")
                                            label(for="pnpNo") 아니요
                                    else 
                                        .selection.true
                                            input(type="checkbox" id="pnpYes" name="pnpYes")
                                            label(for="pnpYes") 예
                                        .selection.false
                                            input(type="checkbox" id="pnpNo" name="pnpNo" checked)
                                            label(for="pnpNo") 아니요
                        .field
                            span github 주소
                            if user.github_url != "empty"
                                input(type="text" name="github_url" value=user.github_url)
                            else 
                                input(type="text" name="github_url" placeholder="write your github address")
                        .field.interest
                            span 관심 분야(중복 선택 가능)
                            .column-container
                                .first-column
                                    .selection
                                        input(type="checkbox" id="web" name="web")
                                        label(for="web") 웹
                                    .selection
                                        input(type="checkbox" id="app" name="app")
                                        label(for="app") 앱
                                    .selection
                                        input(type="checkbox" id="algorithm" name="algorithm")
                                        label(for="algorithm") 알고리즘
                                .second-column
                                    .selection
                                        input(type="checkbox" id="AI" name="AI")
                                        label(for="AI") AI
                                    .selection
                                        input(type="checkbox" id="security" name="security")
                                        label(for="security") 보안
                                    .selection
                                        input(type="checkbox" id="data" name="data")
                                        label(for="data") 데이터
                    input(type="submit" value="수정")
    script(src="/assets/js/previewImage.js")
    script(src="/assets/js/profileUpdate.js")
