extends ../base.pug

block content
    .profile-body
        .errorMessage(data-profileerrormsg=profileErrorMsg data-userid=user.id)
        .user-text
            a(href=`/users/${user.id}/board/1`).write
                i.fas.fa-clipboard
                span 게시글
            .division |
            a(href=`/users/${user.id}/comment/1`).comments
                i.fas.fa-pen
                span 댓글
            .division |
            a(href=`/users/${user.id}/choice/1`).scrap
                i.fas.fa-square
                span 찜
        .profile-container
            .outer-first-column
                .first-column
                    .wrapper
                        span #{user.pnp == true ? "pnp member!" : "normal member!"}
                    img(src=user.image_url)
                    .wrapper(data-githuburl=user.github_url)
            .outer-second-column
                .second-column
                    header
                        span #{user.nickname}
                    main 
                        p #{user.introduction}
                    footer 
                        span &rarr;
            .hidden-column
                .more-information
                    header 
                        span My Info
                    .first-row
                        span 상태: 
                            strong #{user.absence == true ? "휴학" : "재학"}
                        span(data-department=user.department) 학과: 
                        span(data-interest=user.interest) 관심 분야: 
                    .second-row
                        .like(data-id=user.id)
                            span like
                            i.fas.fa-thumbs-up
                            span #{user.like}
                        .visit
                            span visit
                            i.fas.fa-home
                            span #{user.visit}
        .options
            if loggedInUser._id == user.id
                a(href=`/users/${user.id}/update`) 프로필 수정하기
                if localLogin 
                    a(href=`/users/${user.id}/password`) 비밀번호 변경하기
    script(src="/assets/js/profile.js") 