extends ../base.pug
include ../mixins/boardForm.pug

block content 
    .board-body
        .board-container 
            .header
                h1.title= bodyTitle
                if authenticated
                    a(href=`/${route}/enrollment`).write
                        i.fas.fa-pencil-alt
                        span 글쓰기
            .main
                if numberOfArticles == 0
                    span.empty-msg= emptyMessage
                each element in articleLists 
                    +post(element)          
            .pagination(data-numberofarticles=numberOfArticles data-articlesperpage=articlesPerPage
            data-currentpage=currentPage data-shownbuttons=shownButtons data-route=route
            data-findterm=findTerm)
                .prev
                    button
                        i.fas.fa-chevron-left
                .numbers
                .next
                    button
                        i.fas.fa-chevron-right
            form(action=`/${route}/search/1` method="POST").search
                .searchBox
                    input(type="text" name="searchTerm" placeholder="Search..." required)
                    button(type="submit").searchButton
                        i.fas.fa-search
    script(src="/assets/js/pagination.js")
    script(src="/assets/js/board.js")
