mixin post({_id, title, content, created_at, like, comment, user, userBoardRoute=null})
    a(href=`/${userBoardRoute ? userBoardRoute : route}/${_id}`).board-form
        span.title #{title.length > 10 ?  title.slice(0, 10) + "..." : title}
        span.contents #{content.length > 140 ?  content.slice(0, 140) + "..." : content}
        .info
            .first-column
                .time(data-time=created_at)
                    span.day
                    span.hours
                .user
                    img(src=user.image_url)
                    span.nickname= user.nickname
                    .user-like
                        i.fas.fa-heart
                        span= user.like
            .second-column
                .like
                    i.far.fa-thumbs-up
                    span= like
                .comment
                    i.far.fa-comment
                    span= comment.length



