mixin post({_id, title, content, created_at, like, comment, kinds, user, userBoardRoute})
    a(href=`/${userBoardRoute}/${_id}`).board-form
        span.title #{title.length > 10 ?  title.slice(0, 10) + "..." : title}
        span.contents #{content.length > 140 ?  content.slice(0, 140) + "..." : content}
        .info
            .first-column
                .time(data-time=created_at)
                    span.day
                    span.hours
                .user
                    img(src=`${user ? user.image_url : "https://graph.facebook.com/2703909133188815/picture?width=40&height=40"}`)
                    span.nickname #{user ? user.nickname : "탈퇴 인원"}
                    if user
                        .user-like
                            i.fas.fa-heart
                            span= user.like
            .second-column
                .like
                    i.far.fa-thumbs-up
                    span= like
                .comment
                    i.far.fa-comment
                    span= comment.length
        if authenticated && (loggedInUser._id == userProfileId) && move == "choice"
            .delete-btn
                span(data-articleid=_id data-kinds=kinds) 찜 삭제

